<div class="eight wide column centered" id='search-segment'>
	<div class="ui stacked segment fluid">
		<h2 class="ui header">
			Find a Hackathon
		</h2>
		<div class="ui fluid category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search animals...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
	</div>
</div>