<h1>New Hack App</h1>
<div class="fourteen wide column centered">
	<div class="ui card fluid">
		<div class="ui grid">
			<div class="twelve wide column centered">
			<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
